service bootanim /system/bin/bootanimation
## shenqi-framework, houlx1, Charging of power off, XUICR-66, begin
    class main
    user root
    group graphics
## shenqi-framework, houlx1, Charging of power off, XUICR-66, end
    disabled
    oneshot
    writepid /dev/stune/top-app/tasks

